<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755636159549-09ah130arll29o4o1p9jr6n8dh0k8bgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755636159549-09ah130arll29o4o1p9jr6n8dh0k8bgt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755636159549-ov3cvgrsh17tamesn7efup6fdvqs7khp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjqWvT6ldNy-KeaR93YRwJ90Re2xXINDE</string>
	<key>GCM_SENDER_ID</key>
	<string>755636159549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.inicio</string>
	<key>PROJECT_ID</key>
	<string>inicio-71293</string>
	<key>STORAGE_BUCKET</key>
	<string>inicio-71293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755636159549:ios:f5d39f7e75f6ac6c0bd654</string>
</dict>
</plist>